# Project Notebook: Optimizing DataFrames and Processing in Chunks

## 1. Introduction

In this project, we'll practice working with chunked dataframes and optimizing a dataframe's memory usage. We'll be working with financial lending data from Lending Club, a marketplace for personal loans that matches borrowers with investors. You can read more about the marketplace on its website.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

We'll be working with a dataset of loans approved from 2007-2011 (https://bit.ly/3H2XVgC). We've already removed the desc column for you to make our system run more quickly.

If we read in the entire data set, it will consume about 67 megabytes of memory. Let's imagine that we only have 10 megabytes of memory available throughout this project, so you can practice the concepts you learned in the last two lessons.

**Tasks**

1. Read in the first five lines from `loans_2007.csv` (https://bit.ly/3H2XVgC) and look for any data quality issues.

2. Read in the first 1000 rows from the data set, and calculate the total memory usage for these rows. Increase or decrease the number of rows to converge on a memory usage under five megabytes (to stay on the conservative side).

In [1]:

# Importing pandas
import pandas as pd
pd.options.display.max_columns = 99

# Your code goes here
#Read in the first five lines from loans_2007.csv
df=pd.read_csv('https://bit.ly/3H2XVgC', nrows=5)
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [6]:
chunk=pd.read_csv('https://bit.ly/3H2XVgC', chunksize=1000)

memory_footprints = []
for ck in chunk:
   memory_footprints.append(ck.memory_usage(deep=True).sum()/(1024*1024))

print("1st 1000 rows: ",memory_footprints[0])
memory_footprints

1st 1000 rows:  1.5273666381835938

[1.5273666381835938,
 1.5263128280639648,
 1.5269670486450195,
 1.5250205993652344,
 1.5247983932495117,
 1.5265741348266602,
 1.5259695053100586,
 1.5262346267700195,
 1.5259466171264648,
 1.5273265838623047,
 1.5268049240112305,
 1.5253715515136719,
 1.5253772735595703,
 1.5253572463989258,
 1.5249614715576172,
 1.5259675979614258,
 1.5257463455200195,
 1.525864601135254,
 1.5247554779052734,
 1.5260324478149414,
 1.5253820419311523,
 1.52679443359375,
 1.5251598358154297,
 1.5265846252441406,
 1.5259370803833008,
 1.524658203125,
 1.5260696411132812,
 1.525843620300293,
 1.5256519317626953,
 1.5252199172973633,
 1.5306215286254883,
 1.5302400588989258,
 1.5285663604736328,
 1.526381492614746,
 1.5294208526611328,
 1.5324926376342773,
 1.531620979309082,
 1.5323219299316406,
 1.5311594009399414,
 1.5893192291259766,
 1.5646142959594727,
 1.5697431564331055,
 0.868586540222168]

In [7]:
#vars holder...
file='https://bit.ly/3H2XVgC'
csize=3000

## 2. Exploring the Data in Chunks

Let's familiarize ourselves with the columns to see which ones we can optimize. In the first lesson, we explored column types by reading in the full dataframe. In this project, let's try to understand the column types better while using dataframe chunks.

**Tasks**

For each chunk:
* How many columns have a numeric type? 
* How many have a string type?
* How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
* Which float columns have no missing values and could be candidates for conversion to the integer type?
* Calculate the total memory usage across all of the chunks.

In [9]:
# Your code goes here
# Your code goes here

chunk=pd.read_csv('https://bit.ly/3H2XVgC', chunksize=3000)
types=[c.dtypes for c in chunk]

In [10]:

##How many columns have a numeric type?
##How many have a string type?
types[0].value_counts()

float64    30
object     21
int64       1
dtype: int64

In [11]:

##How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
####
##get list of 'object' columns
colObj = types[0].loc[lambda x : x == 'object']
lsObjCols = colObj.index.values.tolist()
lsObjCols

['term',
 'int_rate',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'revol_util',
 'initial_list_status',
 'last_pymnt_d',
 'last_credit_pull_d',
 'application_type']

In [4]:
#vars holder...
file='https://bit.ly/3H2XVgC'
csize=3000

In [12]:
#finding the unique values count in columns...

def getStat(col):

  chunk=pd.read_csv(file, usecols=col,chunksize=csize)
  overall_vc = list()
  result={}

  for ch in chunk:
    chunk_vc = ch[col].value_counts(normalize=True) * 100
    overall_vc.append(chunk_vc)

  combined_vc = pd.concat(overall_vc)
  final_vc = combined_vc.groupby(combined_vc.index).sum()
  f=final_vc.sort_values(ascending=False)
  ln = len(f)
  cnt = sum(f<50)
  #result[col[0]] = tuple([ln, cnt])
  print (f"Column {col[0]} || Unique values count = {ln} || Number of values <50% unique = {cnt}")
  #return result


##running the function loop over columns
for col in lsObjCols:
  getStat([col])

Column term || Unique values count = 2 || Number of values <50% unique = 0
Column int_rate || Unique values count = 394 || Number of values <50% unique = 394
Column grade || Unique values count = 7 || Number of values <50% unique = 1
Column sub_grade || Unique values count = 35 || Number of values <50% unique = 22
Column emp_title || Unique values count = 30658 || Number of values <50% unique = 30658
Column emp_length || Unique values count = 11 || Number of values <50% unique = 1
Column home_ownership || Unique values count = 5 || Number of values <50% unique = 2
Column verification_status || Unique values count = 3 || Number of values <50% unique = 0
Column issue_d || Unique values count = 55 || Number of values <50% unique = 46
Column loan_status || Unique values count = 9 || Number of values <50% unique = 5
Column pymnt_plan || Unique values count = 2 || Number of values <50% unique = 1
Column purpose || Unique values count = 14 || Number of values <50% unique = 7
Column title || Unique values count = 21264 || Number of values <50% unique = 21262
Column zip_code || Unique values count = 837 || Number of values <50% unique = 837
Column addr_state || Unique values count = 50 || Number of values <50% unique = 40
Column earliest_cr_line || Unique values count = 530 || Number of values <50% unique = 530
Column revol_util || Unique values count = 1119 || Number of values <50% unique = 1119
Column initial_list_status || Unique values count = 1 || Number of values <50% unique = 0
Column last_pymnt_d || Unique values count = 103 || Number of values <50% unique = 103
Column last_credit_pull_d || Unique values count = 108 || Number of values <50% unique = 107
Column application_type || Unique values count = 1 || Number of values <50% unique = 0

In [16]:
##Find a float columns have no missing values and could be candidates for conversion to the integer type?
###
##get list of 'float64' columns
colFloat = types[0].loc[lambda x : x == 'float64']
lsFloatCols = colFloat.index.values.tolist()
lsFloatCols

['member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'pub_rec_bankruptcies',
 'tax_liens']

In [14]:
##Find function for columns with missing values...

def colNan(col):

  chunk=pd.read_csv(file, usecols=[col],chunksize=csize)
  tot=list()

  for ch in chunk:
    chunk_nan = ch[col].isnull().sum()
    tot.append(chunk_nan)

  total = sum(tot)
  print(f"Column -- {col} || Total missing values -- {total}")
  #return total


##running the function loop over columns
for col in lsFloatCols:
  colNan(col)

Column -- member_id || Total missing values -- 3
Column -- loan_amnt || Total missing values -- 3
Column -- funded_amnt || Total missing values -- 3
Column -- funded_amnt_inv || Total missing values -- 3
Column -- installment || Total missing values -- 3
Column -- annual_inc || Total missing values -- 7
Column -- dti || Total missing values -- 3
Column -- delinq_2yrs || Total missing values -- 32
Column -- inq_last_6mths || Total missing values -- 32
Column -- open_acc || Total missing values -- 32
Column -- pub_rec || Total missing values -- 32
Column -- revol_bal || Total missing values -- 3
Column -- total_acc || Total missing values -- 32
Column -- out_prncp || Total missing values -- 3
Column -- out_prncp_inv || Total missing values -- 3
Column -- total_pymnt || Total missing values -- 3
Column -- total_pymnt_inv || Total missing values -- 3
Column -- total_rec_prncp || Total missing values -- 3
Column -- total_rec_int || Total missing values -- 3
Column -- total_rec_late_fee || Total missing values -- 3
Column -- recoveries || Total missing values -- 3
Column -- collection_recovery_fee || Total missing values -- 3
Column -- last_pymnt_amnt || Total missing values -- 3
Column -- collections_12_mths_ex_med || Total missing values -- 148
Column -- policy_code || Total missing values -- 3
Column -- acc_now_delinq || Total missing values -- 32
Column -- chargeoff_within_12_mths || Total missing values -- 148
Column -- delinq_amnt || Total missing values -- 32
Column -- pub_rec_bankruptcies || Total missing values -- 1368
Column -- tax_liens || Total missing values -- 108

In [15]:
###Check the total memory usage across all of the chunks.

def getTotalMem(file,csize):
  chunk=pd.read_csv(file, chunksize=csize)
  cnt=1

  for ch in chunk:
    mem=(ch.memory_usage(deep=True).sum()/(1024*1024))
    print(f"Chunk -- {cnt} || Total memory used[Mb] -- {mem}")
    cnt+=1

##running the function
getTotalMem(file,csize)

Chunk -- 1 || Total memory used[Mb] -- 4.580394744873047
Chunk -- 2 || Total memory used[Mb] -- 4.576141357421875
Chunk -- 3 || Total memory used[Mb] -- 4.577898979187012
Chunk -- 4 || Total memory used[Mb] -- 4.579251289367676
Chunk -- 5 || Total memory used[Mb] -- 4.575444221496582
Chunk -- 6 || Total memory used[Mb] -- 4.577326774597168
Chunk -- 7 || Total memory used[Mb] -- 4.575918197631836
Chunk -- 8 || Total memory used[Mb] -- 4.578287124633789
Chunk -- 9 || Total memory used[Mb] -- 4.576413154602051
Chunk -- 10 || Total memory used[Mb] -- 4.57646369934082
Chunk -- 11 || Total memory used[Mb] -- 4.589176177978516
Chunk -- 12 || Total memory used[Mb] -- 4.588043212890625
Chunk -- 13 || Total memory used[Mb] -- 4.594850540161133
Chunk -- 14 || Total memory used[Mb] -- 4.828314781188965
Chunk -- 15 || Total memory used[Mb] -- 0.868586540222168

## 3. Optimizing String Columns

We can achieve the greatest memory improvements by converting the string columns to a numeric type. Let's convert all of the columns where the values are less than 50% unique to the category type, and the columns that contain numeric values to the `float` type.

While working with dataframe chunks:
* Determine which string columns you can convert to a numeric type if you clean them. For example, the `int_rate` column is only a string because of the % sign at the end.
* Determine which columns have a few unique values and convert them to the category type. For example, you may want to convert the grade and `sub_grade` columns.
Based on your conclusions, perform the necessary type changes across all chunks. * Calculate the total memory footprint, and compare it with the previous one.

In [17]:

# Your code goes here
toFloatCols= ['revol_util' , 'int_rate']
toCategoryCols = [
    'term', 'grade' , 'sub_grade', 'emp_length', 'home_ownership', 'verification_status', 'loan_status',
    'pymnt_plan', 'purpose' , 'addr_state', 'initial_list_status', 'application_type'
    ]

def optimizeStr(file,csize):
  chunk=pd.read_csv(file, chunksize=csize)
  cnt=1

  for ch in chunk:
    ##1-Determine which string columns you can convert to a numeric type if you clean them.
    for col in toFloatCols:
      ch[col] = ch[col].str.rstrip('%').astype('float')

    ##2-Determine which columns have a few unique values and convert them to the category type.
    for col in toCategoryCols:
      ch[col] = ch[col].astype('category')

    ##3-Calculate the total memory footprint, and compare it with the previous one.
    mem=(ch.memory_usage(deep=True).sum()/(1024*1024))
    print(f"Chunk -- {cnt} || Total memory used[Mb] -- {mem}")
    cnt+=1

  
##Calling the function...
optimizeStr(file,csize)

Chunk -- 1 || Total memory used[Mb] -- 2.141315460205078
Chunk -- 2 || Total memory used[Mb] -- 2.1381044387817383
Chunk -- 3 || Total memory used[Mb] -- 2.139948844909668
Chunk -- 4 || Total memory used[Mb] -- 2.1401596069335938
Chunk -- 5 || Total memory used[Mb] -- 2.1370182037353516
Chunk -- 6 || Total memory used[Mb] -- 2.1377124786376953
Chunk -- 7 || Total memory used[Mb] -- 2.137258529663086
Chunk -- 8 || Total memory used[Mb] -- 2.1390228271484375
Chunk -- 9 || Total memory used[Mb] -- 2.13754940032959
Chunk -- 10 || Total memory used[Mb] -- 2.1385250091552734
Chunk -- 11 || Total memory used[Mb] -- 2.15152645111084
Chunk -- 12 || Total memory used[Mb] -- 2.1499290466308594
Chunk -- 13 || Total memory used[Mb] -- 2.15805721282959
Chunk -- 14 || Total memory used[Mb] -- 2.3076629638671875
Chunk -- 15 || Total memory used[Mb] -- 0.4213981628417969

## 4. Optimizing Numeric Columns

It looks like we were able to realize some powerful memory savings by converting to the category type and converting string columns to numeric ones.

Now let's optimize the numeric columns using the `pandas.to_numeric()` function.

**Tasks**

While working with dataframe chunks:
* Identify float columns that contain missing values, and that we can convert to a more space efficient subtype.
* Identify float columns that don't contain any missing values, and that we can convert to the integer type because they represent whole numbers.
* Based on your conclusions, perform the necessary type changes across all chunks.
* Calculate the total memory footprint and compare it with the previous one.

In [18]:
# Your code goes here
floatToIntCol = [
    'loan_amnt' , 'funded_amnt' , 'funded_amnt_inv', 'installment', 'annual_inc','dti' ,'revol_bal', 
    'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
    'recoveries' , 'collection_recovery_fee', 'last_pymnt_amnt', 'delinq_amnt'
    ]



chunk=pd.read_csv(file, chunksize=csize)
cnt=1

for ch in chunk:
  #1-Identify float columns that contain missing values, and that we can convert to a more space efficient subtype
  #float_cols = ch.select_dtypes(include=['float']).columns
  
  #1.1 - Impute '0' for the missing entries
  for col in floatToIntCol:
    ch[col].fillna(0, inplace=True)

  #1.2 - Cast to 'int' 
  for col in floatToIntCol:
    ch[col] = pd.to_numeric(ch[col], downcast='integer')
  
  ##2- Calculate the total memory footprint and compare it with the previous one.
  mem=(ch.memory_usage(deep=True).sum()/(1024*1024))
  print(f"Chunk -- {cnt} || Total memory used[Mb] -- {mem}")
  cnt+=1

Chunk -- 1 || Total memory used[Mb] -- 4.526035308837891
Chunk -- 2 || Total memory used[Mb] -- 4.521781921386719
Chunk -- 3 || Total memory used[Mb] -- 4.5235395431518555
Chunk -- 4 || Total memory used[Mb] -- 4.5248918533325195
Chunk -- 5 || Total memory used[Mb] -- 4.521084785461426
Chunk -- 6 || Total memory used[Mb] -- 4.522967338562012
Chunk -- 7 || Total memory used[Mb] -- 4.52155876159668
Chunk -- 8 || Total memory used[Mb] -- 4.512483596801758
Chunk -- 9 || Total memory used[Mb] -- 4.5106096267700195
Chunk -- 10 || Total memory used[Mb] -- 4.510660171508789
Chunk -- 11 || Total memory used[Mb] -- 4.523372650146484
Chunk -- 12 || Total memory used[Mb] -- 4.522239685058594
Chunk -- 13 || Total memory used[Mb] -- 4.529047012329102
Chunk -- 14 || Total memory used[Mb] -- 4.762511253356934
Chunk -- 15 || Total memory used[Mb] -- 0.8572988510131836

## Next Steps

We've practiced optimizing a dataframe's memory footprint and working with dataframe chunks. Here's an idea for some next steps:

Create a function that automates as much of the work you just did as possible, so that you could use it on other Lending Club data sets. This function should:

* Determine the optimal chunk size based on the memory constraints you provide.

* Determine which string columns can be converted to numeric ones by removing the `%` character.

* Determine which numeric columns can be converted to more space efficient representations.

In [19]:
# Your code goes here
def optimizer(file,mem_limit, chunk_step):

  """
    args:
      file -> path to the csv file
      mem_limit -> memory usage limit per chunk
      chunk_step -> step size to use when searching for best chunksize to use

    returns:
      None ... But prints optimization output at every step

    usage:
      optimizer(file_name, 5, 150),....this will read_csv from 'file_name' ...search for best chunk size to use at limit 5Mb per chunk
              ...The search step will start from 150 chunks increasing in multiples of 150 till best chunksize is found at the limit

  """

  ##1- Get best chunk size ...[csize]
  mem=0
  csize=chunk_step
  

  print("###Calculating the optimal chunk size to use....")
  while mem < (mem_limit-0.4):
    chunk=pd.read_csv(file, chunksize=csize)
    c1 = chunk.read(csize)
    mem = c1.memory_usage(deep=True).sum()/(1024*1024)
    
    if mem > mem_limit:
      break
    else:
      csize+=chunk_step

  print(f"Optimal chunk size for memory limit {mem_limit}Mb is: {csize}. It will use {mem}Mb ")
  
  ##2- Determine which string columns can be converted to numeric ones by removing the % character.
  
  #find all 'object' columns
  lsType=c1.dtypes
  colObj = lsType.loc[lambda x : x == 'object']
  lsObjCols = colObj.index.values.tolist()

  #find percentage value columns 
  percent1= list()
  for c in lsObjCols:
    x=c1[c].str.contains('%').sum()
    y=len(c1[c])
    #check the number of '%' string occurrence same as column entries to be sure
    if x==y:
      percent1.append(c)

  ##3- Determine which numeric columns can be converted to more space efficient representations.
  getFloatCol = c1.select_dtypes(include=['float'])
  
  ##++calculate mem use before convert  
  chunk=pd.read_csv(file, chunksize=csize)
  memAll = list()
  memPercent = list()
  memFloat = list()

  for c in chunk:
    memAll.append(c.memory_usage(deep=True).sum()/(1024*1024))
    memPercent.append(c[percent1].memory_usage(deep=True).sum()/(1024*1024))
    memFloat.append(getFloatCol.memory_usage(deep=True).sum()/(1024*1024))
  
  print("\nMem_usage all chunks before optimization step:[Mb] ", sum(memAll))
  print("Mem_usage of percentage columns before converting  from str to float:[Mb] ", sum(memPercent))
  print("Mem_usage of float columns before downcasting :[Mb] ",sum(memFloat)) 

  ##++calculate mem use after convert
  chunk=pd.read_csv(file, chunksize=csize)
  memAllAfter = list()
  memPercentAfter = list()
  memFloatAfter = list()

  for c in chunk:
    #downcast floats
    convertFloatCol = getFloatCol.apply(pd.to_numeric,downcast='integer')
    
    ##convert percentage str columns to float
    for col in percent1:
      c[col] = c[col].str.rstrip('%').astype('float')

    memAllAfter.append(c.memory_usage(deep=True).sum()/(1024*1024))
    memPercentAfter.append(c[percent1].memory_usage(deep=True).sum()/(1024*1024))
    memFloatAfter.append(convertFloatCol.memory_usage(deep=True).sum()/(1024*1024))
    
  print("\nMem_usage all chunks after optimization step:[Mb] ", sum(memAllAfter))
  print("Mem_usage of percentage columns after converting  from str to float:[Mb] ", sum(memPercentAfter))
  print("Mem_usage of float columns after downcasting :[Mb] ",sum(memFloatAfter))

In [20]:
####calling the automate function()
optimizer(file,5,100)

###Calculating the optimal chunk size to use....
Optimal chunk size for memory limit 5Mb is: 3200. It will use 4.733226776123047Mb

Mem_usage all chunks before optimization step:[Mb]  65.27384853363037
Mem_usage of percentage columns before converting  from str to float:[Mb]  5.096190452575684
Mem_usage of float columns before downcasting :[Mb]  9.9351806640625

Mem_usage all chunks after optimization step:[Mb]  60.828495025634766
Mem_usage of percentage columns after converting  from str to float:[Mb]  0.6508369445800781
Mem_usage of float columns after downcasting :[Mb]  5.796234130859375